
.main {
    display: flex;
    height: 100vh;
    background: #E1FFEB;
}

.main > section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main > section > form {
    display: flex;
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    max-width: 400px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    position: relative;
}

.main > section > form > img {
    position: absolute;
    top: 0; left: 50%;
    transform: translate(-50%, -50%);
    border-left: 25px solid #E1FFEB;
    border-right: 25px solid #E1FFEB;
    border-radius: 50%;
    background-color: #E1FFEB;
}

label {
    position: relative;
    margin: 1rem 0;
}

input {
    outline: none;
    border: none;
    padding: 5px 10px;
    position: relative;
    background: inherit;
    border-bottom: 1px solid gray;
}

label > p {
    color: black;
    opacity: 70%;
    font-size: .875rem;
    position: absolute;
    top: -30%; left: 25%;
    cursor: text;
    transition: all ease .2s;
}

input:focus + p,
input:not(:placeholder-shown) + p {
    color: #222222;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top: -130%; left: 20%;
}   

.login__button {
    width: 55%;
    background-color: #01264E;
    color: white;
    padding: 7.5px 0;
    margin: 1rem 0;
    align-self: center;
    border: 1px solid black;
    border-radius: 5px;
}

.login__button:active {
    opacity: 80%;
}

a {
    text-decoration: none;
    color: black;
}
