:root {
    --header-height: 8vh;
    --footer-height: 8vh;
}

.app {
    margin: auto;
    max-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
    height: var(--header-height);
    font-size: 1rem;
    padding: 0 15px;
    background-color: #2565AE;
}

.header button {
    width: 10%;
    height: 40%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: #487EBB;
    box-shadow: 1px 1px 5px lightskyblue;
}

.header button:hover {
    cursor: pointer;
    opacity: 90%;
}

.header button:active {
    cursor: pointer;
    box-shadow: inset 1px 1px skyblue;

}

.main {
    display: grid;
    grid-template-columns: 35% 1fr;
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer {
    display: flex;
    align-items: center;
    height: var(--footer-height);
    font-size: 1rem;
    border: 1px solid black;
    padding-left: 15px;
}

