:root {
    --header-height: 8vh;
    --footer-height: 8vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1200px;
}

.header {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: var(--header-height);
    font-size: 1rem;
    padding-left: 15px;
}

main {
    display: grid;
    grid-template-columns: 35% 1fr;
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer {
    display: flex;
    align-items: center;
    height: var(--footer-height);
    font-size: 1rem;
    border: 1px solid black;
    padding-left: 15px;
}

